<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.AboutImgMapper">
	<resultMap id="BaseResultMap" type="com.ssm.pojo.AboutImg">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="about_id" property="aboutId" jdbcType="INTEGER" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, about_id, img_url, create_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_about_img
		where id = #{id,jdbcType=INTEGER}
	</select>
	<!-- 根据aboutId获取信息 -->
	<select id="selectByAboutId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_about_img
		where about_id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_about_img
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<!-- 通过AboutId删除 -->
	<delete id="deleteByAboutId" parameterType="java.lang.Integer">
		delete from tb_about_img
		where about_id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ssm.pojo.AboutImg">
		insert into tb_about_img (id, about_id, img_url,
		create_time, update_time)
		values (#{id,jdbcType=INTEGER}, #{aboutId,jdbcType=INTEGER},
		#{imgUrl,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ssm.pojo.AboutImg">
		insert into tb_about_img
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="aboutId != null">
				about_id,
			</if>
			<if test="imgUrl != null">
				img_url,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="aboutId != null">
				#{aboutId,jdbcType=INTEGER},
			</if>
			<if test="imgUrl != null">
				#{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ssm.pojo.AboutImg">
		update tb_about_img
		<set>
			<if test="aboutId != null">
				about_id = #{aboutId,jdbcType=INTEGER},
			</if>
			<if test="imgUrl != null">
				img_url = #{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ssm.pojo.AboutImg">
		update tb_about_img
		set about_id = #{aboutId,jdbcType=INTEGER},
		img_url = #{imgUrl,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>