@charset "utf-8";
body {
	background-color: #000000;
	padding-bottom: 170px;
	padding-top: 30px;
	padding-right: 10px;
	padding-left: 15px;
	width: 100%;
}

.message_login {
	background-image: url(../img/message_img.png);
}

.nav1 {
	background-color: #000000 !important;
	margin:0 auto;
}

.ul_navigation {
	-webkit-margin-after: 8em !important;
}

.index_hp {
	padding-top: 20px;
}

.index_div{
	padding-right: 0px;
}

.about_cy {
	font-family: "微软雅黑";
	font-size: 500%;
	color: white;
}

.about_font {
	font-family: "仿宋";
	font-size: 300%; 
	color: silver;
}
.about_fontsmall {
	font-family: "仿宋";
	font-size: 200%; 
	color: silver;
}

.company {
	font-family: "微软雅黑";
	font-size: 350%;
	color: white;
}

.connectus_line {
	height: 5px;
	border: none;
	border-top: 5px ridge white;
}

.connectus_head {
	padding-top: 10px;
}

.login {
	height: 80px;
}

.login_word {
	height: 125px !important;
	
}

.login_img {
	width: 120px;
}
.dl{
	font-family: "仿宋";
	font-size: 250%;
	color: white;
}
.admin_message{
	border: 1px solid white;
	border-radius: 10px;
	height: 100px; 
}
.span_hidden:empty{
	width:20px;
    height:20px;
}
.container{
	width: 375px !important; 
}
.login_hp{
	font-family: "仿宋";
	font-size: 325%; 
	color: white;    
}
.login_div{
	text-align: right;
}
.message_add{
	height: 80px;
    width: 100px;
    font-size: 30px;
    font-weight:bold;
    background-color: aliceblue;
}

